# Отправка результата

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns; sns.set_style()

In [2]:
from pickle import load

with open('model/best_model.pickle', 'rb') as pickled:
    model = load(pickled)

In [3]:
X = pd.read_csv('data/processed/test.csv').drop('ad_id', axis=1)

# This hould possibly be done in 01-preprocessing
X.drop(['audience_size', 'user_sexes', 'publisher_cpm_sum', 'audience_x_duration'], axis=1, inplace=True)

X.head()

,cpm,publisher_counts,publisher_cpm_mean,user_ages,duration,duration_x_cpm
0,330.0,273037,681.593773,28.629471,5,1650.0
1,79.0,66134,547.040584,29.790624,151,11929.0
2,130.0,692535,430.153485,29.371801,5,650.0
3,134.0,273037,853.577041,29.454107,3,402.0
4,50.0,692535,640.112564,32.793019,30,1500.0

In [4]:
pred = model.predict(X)

result = pd.DataFrame(data=pred, columns=['at_least_one'])

result = result.assign(
    ad_id = [i for i in range(700, 1008)]
)

result.set_index('ad_id', inplace=True)

result.head()

       at_least_one
ad_id
700        0.044450
701        0.042985
702        0.056975
703        0.019262
704        0.042180

In [5]:
from datetime import datetime

name = 'submissions/submission-%s.csv' % datetime.now().strftime('%Y-%m-%d(%H:%M)')

result.to_csv(name)

That's all, folks!